@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Phonebook App</h1>
</div>

<div>
    <table>
    </table>
</div>

<script type="text/javascript" src="~/js/site.js"></script>



